<footer class="bg-dark">
    <div class="container pt-4">
        <div class="my-5"><br></div>
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a href="{% link index.html %}">{% include agewell-logo.html %}</a>
                <p class="mt-4 text-sm opacity-8 pr-lg-4">AgeWell Technologies is a gerontechnology company based in Fort Collins, CO. Specailizing in the needs of the aging population, we strive to make the active aging lifestyle meaningfull and engaging through the use of technology.</p>
                <ul class="nav mt-4">
                    <li class="nav-item"><a class="nav-link pl-0" href="https://linkedin.com/agewell"
                            target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/agewell" target="_blank"><i
                                class="fab fa-github"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/agewell"
                            target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/agewell"
                            target="_blank"><i class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                <h6 class="heading mb-3">Partners</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Notifications</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">About</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Help center</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div>
        <div class="my-4"><br></div>
        <div class="row align-items-center justify-content-md-between pb-4">
            <div class="col-md-6">
                <div class="copyright text-sm font-weight-bold text-center text-md-left">© <%= Time.now.year %> <a
                        href="https://www.agewelltechnologies.com" class="font-weight-bold" target="_blank">Connect by AgeWell Technologies</a>. All rights
                    reserved</div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>