<header></header>
    <div id="header_slider" class="carousel slide" data-ride="carousel">
        <div class="header-intro vertical-center">
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2 animated fadeInUp">
                    <!-- <h1>Welcome to <br/><?php print $site->name; ?></h1>
                    <div class="seperator light"></div> -->
                    <img class="shadow-lg rounded-lg" src="{{ 'assets/images/header-bg.jpg' | relative_url }}" >
                    <!-- <p class="header-rates"><a href="#" data-toggle="modal" data-target="#ratesModal"><i class="fa fa-money" aria-hidden="true"></i> View our Rates</a></p> -->
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <!-- <img src="<?php print asset_path('image','intro-img.png'); ?>" alt="" class="img-responsive"> -->
                        <p>Your premier destination for RV-ing in the Carmel/Monterey area. Close to all major attractions, so you can go hit the links at Pebble Beach, watch the races at Laguna Seca, lay in the sun on beautiful Carmel Beach, or simply relax in our garden-like setting and enjoy. Join us and create new traditions for years to come.</p>
                        <h2><a class="cta" href="https://bookings7.rmscloud.com/obookings3/Search/Index/13952/90" target="_blank"><i class="far fa-calendar-alt"></i> Book Your Stay</a></h2>
                        <h3>or call</h3>
                        <h3><a class="phone" href="tel:+18316249329">+1 (831) 624-9329</a></h3>
                        <!-- <h3><a href="#" data-toggle="modal" data-target="#ratesModal">View Our Rates</a></h3> -->
                        <!-- <h3><a href="#" data-toggle="modal" data-target="#covidmodal">COVID-19 Update</a></h3> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image: url(<?php print asset_path('image', 'header-bg.jpg');?>);">
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</header>
<!-- COVID MODAL -->
<div class="modal fade" id="covidmodal" tabindex="-1" role="dialog" aria-labelledby="covidmodal">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="covidmodalLabel">A Message about COVID-19</h4>
          </div>
          <div class="modal-body" style="color:#333; !important">
            <p>We understand that the recent news and uncertainty surrounding the COVID-19 situation may have caused you to re-think your travel plans.  Whether you have a trip booked or are planning upcoming travel, we will do whatever we can to support you.  We will continue to monitor the situation, including restrictions an updates to travel policies that my impact you. In order to reassure our customers and their families, we want you to know that we are all taking extra precautions, to ensure your health and safety.</p>
            <p>In the front office, surfaces have been cleared of communal items and are being disinfected between customers checking in and we are diligent about wiping down the counters and washing our own hands after each use.  Check-in slips and maps are prepared by the staff and receipts emailed to you directly. We will be offering the CASH price discount to all customers, encouraging all to use their credit cards or personal checks to avoid sharing germs on the common currency.</p>
            <p>For public saftey concerns, all of our restrooms and showers are currently closed and we are currently only accepting reservatrions for self-contained trailers and RVs.</p>
            <p>We are asking that you reschedule your trip if you are feeling ill, or if you’ve been exposed to the virus (to your knowledge) in anyway. We will not be charging cancellations fees in these circumstances.</p>
            <p>Our top priority is everyone’s health and wellbeing. We highly recommend customers everywhere follow the health and travel advice of relevant authorities. Thank you for remembering we are a family-run business and we consider our customers as part of ours!</p>
            <br>
            <p>Best, Jeff and Susan Campbell</p>
          </div>
        </div>
      </div>
    </div>